.profile-image {
  position: relative; 
}

.profile-img {
  width: 150px;
  height: auto; 
  border-radius: 10px;
  object-fit: cover;
}

.image-button {
  display: inline-block; 
  padding: 10px 20px; 
  background-color: #4caf50; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  text-align: center; 
  margin-top: 10px; 
}

.image-button:hover {
  background-color: #45a049; 
}
.profile-container {
  max-width: 600px; 
  margin: 20px auto; 
  padding: 20px; 
  background-color: #f9f9f9; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.profile-header {
  text-align: center; 
}

.profile-content {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  margin-top: 20px; 
}

.profile-image {
  margin-bottom: 20px;
}

.image-button {
  padding: 10px 20px;
  background-color: #4caf50; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer;
  transition: background-color 0.3s; 
}

.image-button:hover {
  background-color: #45a049; 
}

.profile-details {
  text-align: center;
  margin-bottom: 20px; 
}

.action-button, .edit-button {
  padding: 10px 15px; 
  background-color: #008cba;
  color: white; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
  margin: 5px; 
}

.action-button:hover, .edit-button:hover {
  background-color: #007bb5; 
}

.popup {
  position: fixed;
  top: 0; 
  left: 0; 
  right: 0;
  bottom: 0; 
  background: rgba(0, 0, 0, 0.5); 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.popup-content {
  background-color: #fff; 
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.popup-back, .popup-delete {
  padding: 10px 15px; 
  background-color: #f44336; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.popup-back:hover, .popup-delete:hover {
  background-color: #d32f2f; 
}